.NavBarBurger {
    width: 35px;
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

.NavBarBurger div {
    width: 100%;
    height: 2px;
    background-color: rgb(29, 29, 29);
}
.NavBarBurger:hover div {
    background-color: rgb(137, 81, 8);
}

@media only screen and (min-width: 1251px) {
    .NavBarBurger {
        display: none;
    }
}
