.PostsPagesUL {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.PostsPagesSpan {
    margin-left: 10rem;
}
.PostsPagesLI {
    display: flex;
    align-items: center;
    margin-left: 10rem;
    cursor: pointer;
}
.PostsPagesLI:hover {
    color: rgb(137, 81, 8);
}
