.TicketsPost {
    margin: 30px 0;
    max-width: 1100px;
}
.TicketsPost a {
    text-decoration: none;
    color: rgb(137, 81, 8);
}
.TicketsPost a:hover {
    color: rgb(84, 50, 6);
}
.TicketsPost p {
    margin: 0;
    padding-top: 40px;
    font-size: 18rem;
    text-align: justify;
}
.TicketsPostMainImg {
    position: relative;
    max-width: 265px;
    max-height: 350px;
    margin: 0 30px 0 0;
    float: left;
}
.TicketsPostMainImg img {
    max-width: inherit;
    max-height: inherit;
}
.TicketsPostMainHeader {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
.TicketsPostMainHeader h2,
span {
    margin: 0;
    font-weight: 1;
    letter-spacing: 2px;
}
.TicketsPostMainHeader span {
    font-size: 13rem;
}
.TicketsPostExtraContent {
    width: 100%;
    padding-top: 40px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: justify;
}
.PostShowExtraContentImgs div {
    margin: 0 25px 30px 25px;
}
.TicketsPostExtraContent h4 {
    margin: 20px 0 0 0;
}
.PostShowExtraContentImgs {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
@media only screen and (max-width: 700px) {
    .TicketsPostMainContent {
        width: 100%;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .TicketsPostMainImg {
        margin: 0 0 20px 0;
        float: none;
    }
    .PostShowExtraContentImgs {
    }
    .PostShowExtraContentImgs div {
        margin: 0 5px 30px 5px;
    }
}
