.NavBarSearchForm {
    position: absolute;
    right: 0;
    height: 100%;
    margin-right: 10rem;
    display: flex;
    align-items: stretch;
}
.NavBarSearchInput[type='text'] {
    width: 100px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1rem solid black;
    font-size: 14rem;
    font-family: 'Lexend Giga', sans-serif;
    background-repeat: no-repeat;
    padding: 5rem 35rem 0 0;
    transition: width 0.4s ease-in;
    background: inherit;
}
.NavBarSearchInput::placeholder {
    color: inherit;
}
.NavBarSearchInput[type='text']:focus {
    width: 250rem;
}
.NavBarSearchInput:focus {
    outline: none;
}

.NavBarSearchSvg {
    width: 40rem;
    position: absolute;
    right: 0;
    cursor: pointer;
}
@media only screen and (max-width: 990px) {
}
