.PostsCard {
    max-width: 1280rem;
    max-height: 400rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30rem 0;
}
.PostsDesc {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 80rem;
    font-weight: 100;
    font-size: calc(8rem + 1vmin);
}
.PostsDesc h2 {
    margin: 0;
    margin-bottom: 10rem;
    text-transform: uppercase;
    letter-spacing: 3rem;
    border-bottom: 1rem solid black;
    font-weight: 400;
}
.PostsDesc span {
    letter-spacing: 1rem;
}
.PostsDesc p {
    letter-spacing: 0.2rem;
    line-height: 2;
}
.PostsDesc a {
    text-decoration: none;
    color: rgb(137, 81, 8);
}
.PostsDesc a:hover {
    color: rgb(84, 50, 6);
}
.PostsDescRead {
    text-decoration: none;
    border: 0 solid #eee;
    color: black;
    padding: 10rem 45rem;
    margin-top: 30rem;
    letter-spacing: 2rem;
    box-shadow: 0 0.8rem 5rem 2rem rgba(101, 90, 86, 0.245);
}
.PostsDescRead:hover {
    background: rgb(233, 233, 233);
    color: rgb(137, 81, 8);
}
.PostsImg {
    position: relative;
    max-width: 400rem;
    max-height: 400rem;
    display: flex;
}
.PostsImg img {
    width: 100%;
    height: inherit;
}
@media only screen and (max-width: 1400px) {
    .PostsCard {
        width: 80%;
    }
}
@media only screen and (max-width: 1100px) {
    .PostsCard {
        flex-direction: column-reverse;
        max-height: 100%;
        max-width: 90%;
    }
    .PostsDesc {
        margin: 0;
        margin-top: 20rem;
    }
    .PostsImg {
        max-width: 280rem;
        max-height: 100%;
    }
    .PostsImg img {
        height: 400rem;
    }
}
