.Header {
    height: 90rem;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.Header h1 {
    margin: 0;
    padding: 10rem 0;
    text-transform: uppercase;
    font-family: 'Lexend Giga', sans-serif;
    font-weight: 1;
    font-size: 40rem;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 1rem;
}
.Header span {
    height: 9rem;
    width: 9rem;
    margin: 0 10rem;
    background-color: black;
    border-radius: 50%;
}
@media only screen and (max-width: 700px) {
    .Header h1 {
        font-size: 30rem;
    }
}
@media only screen and (max-width: 600px) {
    .Header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 50rem;
    }
    .Header h1 {
        font-size: calc(8rem + 1vmax);
    }

    .Header span {
        height: calc(1rem + 1vmax);
        width: calc(1rem + 1vmax);
    }
}
