.ImgInlineBorder {
    position: absolute;
    top: 5%;
    left: 7%;
    width: 86%;
    height: 90%;
    border: 1.5rem solid rgb(29, 29, 29);
}
@media only screen and (max-width: 500px) {
    .ImgInlineBorder {
        border: 1rem solid rgb(29, 29, 29);
    }
}
