.Footer {
    height: 30px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 10rem;
    letter-spacing: 2px;
    padding: 10px;
}
.Footer p {
    margin: 0;
}
