.Shop {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.ShopImgs {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    margin: 30rem 0;
}
.ShopWater {
    position: absolute;
    bottom: 0;
    right: 32%;
    width: 100rem;
    height: 50rem;
}
.ShopWater img {
    height: inherit;
    width: inherit;
}
@media only screen and (max-width: 600px) {
    .ShopWater {
        width: 50rem;
        height: 25rem;
        right: 33%;
    }
}
@media only screen and (max-width: 500px) {
    .ShopImgs {
        margin-top: 20rem;
    }
}
