html,
body {
    font-size: 6.25%;
    font-family: 'Vollkorn SC', serif;
    margin: 0;
    background: white;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -ms-box-orient: vertical;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-box-direction: normal;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}
body {
    font-size: calc(15rem + 1vmin);
}
